<div class="box is-fullwidth p-6 is-vocab">
  <span class="tag is-primary is-large">Selected card</span>
  {% if _list(d["vocabs"]) %}
  <h1 class="title is-2" id="card-workspace-from">{{d["vocabs"][0][0]}}</h1>
  <hr>
  <h1 class="title is-2" id="card-workspace-to">{{d["vocabs"][0][1]}}</h1>
  {% else %}
  <h1 class="title is-2" id="card-workspace-from">No cards in this set available.</h1>
  <hr>
  <h1 class="title is-2" id="card-workspace-to"></h1>
  {% endif %}
</div>

<a href="/set/{{d['_id']}}/learn" class="button is-dark is-fullwidth has-text-white">Leave learning mode</a><br>